.m3-ripple {
  display: inline-block;
  border-radius: 50%;
  animation: m3-ripple-spread var(--m3-ripple-effect-duration, 1s) linear;
  background: var(--m3-ripple-color, transparent);
  transform: scale(0);
  position: absolute;
}

@keyframes m3-ripple-spread {
  to {
    transform: scale(4);
    opacity: 0;
  }
}