@import '../../basics/shape';
@import '../../basics/typography';

.m3-plane-tooltip {
  @include m3-shape-corner('extra-small');
  @include m3-body-small;

  min-height: 24px;
  padding: 4px 8px;
  background: var(--m3-sys-inverse-surface);
  color: var(--m3-sys-inverse-on-surface);
  z-index: 11;
}