yarnPath: .yarn/releases/yarn-4.6.0.cjs

nodeLinker: node-modules

nmHoistingLimits: workspaces

cacheFolder: "./.yarn/cache"

enableGlobalCache: false
enableTelemetry: false

packageExtensions:
  "@commitlint/load@*":
    dependencies:
      "@types/node": "^24.19.0"
      typescript: "~6.0.3"
  "@omnicajs/eslint-plugin-dependencies@*":
    dependencies:
      typescript: "~6.0.3"
  "@storybook/addon-docs@*":
    dependencies:
      "@types/react": "^19.3.0"
  "@storybook/react-vite@*":
    dependencies:
      typescript: "~6.0.3"
  "@storybook/vue3-vite@*":
    dependencies:
      vue: "^3.5.43"
  "eslint-plugin-storybook@*":
    dependencies:
      typescript: "~6.0.3"
  "storybook@*":
    dependencies:
      react: "^19.3.0"
      react-dom: "^19.3.0"
