yarnPath: .yarn/releases/yarn-4.6.0.cjs

nodeLinker: node-modules

nmHoistingLimits: workspaces

cacheFolder: "./.yarn/cache"

enableGlobalCache: false
enableTelemetry: false

packageExtensions:
  "@commitlint/load@*":
    dependencies:
      "@types/node": "^25.3.0"
      typescript: "~6.0.3"
  "@storybook/addon-docs@*":
    dependencies:
      "@types/react": "^18.3.28"
  "@storybook/react-vite@*":
    dependencies:
      typescript: "~6.0.3"
  "@storybook/vue3-vite@*":
    dependencies:
      vue: "^3.5.28"
  "eslint-plugin-storybook@*":
    dependencies:
      typescript: "~6.0.3"
  "storybook@*":
    dependencies:
      "@testing-library/dom": "^10.4.1"
      react: "^18.3.1"
      react-dom: "^18.3.1"
