$m3-sys-surface: var(--m3-sys-surface);

$m3-sys-surface-container-low:     var(--m3-sys-surface-container-low);
$m3-sys-surface-container:         var(--m3-sys-surface-container);
$m3-sys-surface-container-high:    var(--m3-sys-surface-container-high);
$m3-sys-surface-container-highest: var(--m3-sys-surface-container-highest);

$m3-sys-on-surface: var(--m3-sys-on-surface);
$m3-sys-on-surface-variant: var(--m3-sys-on-surface-variant);