@import './basics/motion';

// Fade
.m3-transition-fade-enter-active {
  opacity: 1;
  transition: m3-sys-motion-emphasized(opacity);
}

.m3-transition-fade-leave-active {
  opacity: 1;
  transition: m3-sys-motion-emphasized(opacity) 0.3s;
}

.m3-transition-fade-enter,
.m3-transition-fade-enter-from,
.m3-transition-fade-leave-to {
  opacity: 0;
}

// Slide left
.m3-transition-slide-left-enter-active { transition: m3-sys-motion-emphasized-accelerate(transform); }
.m3-transition-slide-left-leave-active { transition: m3-sys-motion-emphasized-decelerate(transform); }
.m3-transition-slide-left-enter,
.m3-transition-slide-left-enter-from,
.m3-transition-slide-left-leave-to {
  transform: translateX(-100%);
}

// Slide right
.m3-transition-slide-right-enter-active { transition: m3-sys-motion-emphasized-accelerate(transform); }
.m3-transition-slide-right-leave-active { transition: m3-sys-motion-emphasized-decelerate(transform, 'long2') 0.3s; }
.m3-transition-slide-right-enter,
.m3-transition-slide-right-enter-from,
.m3-transition-slide-right-leave-to {
  transform: translateX(100%);
}